*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    
}

html {
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
}

body {
    background-color: hsl(30, 38%, 92%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
    
}
.container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    
    
}


.topText, .bottomText, .discount, button, footer   {
    font-family: 'Montserrat', sans-serif;
}


.midText, .price  {
    font-family: 'Fraunces', serif;
}

.textBox {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    margin: 0;
    padding: 1.875rem;
    background-color: hsl(0, 0%, 100%);
    height: 28.125rem;
    width: 18.75rem;
    
}


.picBox {
    content: url("https://images2.imgbox.com/ab/99/wa0xPg0L_o.jpg");
    height: 28.125rem;
    width: 18.75rem;
}

.topText {
    font-size: 0.75rem;
    font-style: 500;
    letter-spacing: 0.2rem;
    color: hsl(228, 12%, 48%);
    
}

.midText {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
}

.bottomText {

    font-size: 0.875rem;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 1.3rem;
    letter-spacing: 0.005rem;
    
}

.priceBox {
    display: flex;

    
}

.price {
    font-weight: 700;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
     
}

.discount {
    color: hsl(228, 12%, 48%);
    display: flex;
    text-decoration: line-through;
    font-size: 0.8rem;   
}

.discount p {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 2.5rem;
    
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    cursor: pointer;
    
}

button:hover {
    background-color: #2f6451;;
  }

svg {
    margin-right: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}




@media only screen and (max-width: 650px) {
    .picBox {
        content: url("https://images2.imgbox.com/4b/13/ezZ3PM46_o.jpg");
        height: 15rem;
        width: 21.4385rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        overflow: hidden;

     }

    .textBox {
        height: auto;
        width: 21.4385rem;
        padding: 1.5rem;
    }

    .topText, .midText, .bottomText, .priceBox  {
        padding-bottom: 0.8rem;
    }

    .bottomText {
        padding-bottom: 1.5rem;
    }

    .priceBox {
        padding-bottom: 1.5rem;
    }

    .discount p {
        margin-left: 2rem;
        
    }
}